/*-------- CSS VARIABLE LINK --------*/
@import url("css__variable.css");
/*-------- CSS VARIABLE LINK --------*/

/*-------- GLOBAL CSS --------*/
body{
    background-color: #ffffff;
    color: dimgray;
}

.asterik{
    color: red;
}

.container{
    max-width: 50em;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    grid-gap: .5em;
    padding: 0 4em;    
}

.title{
    grid-area: 1/1/2/3;
}

.form__input{
    grid-area: 2/1/3/3;
    display: grid;        
}

.form__input label{
    display: block;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: .1em;
}

.website{
    grid-area: 1/2/2/3;
}



.btn__submit{
    grid-area: 5/1/6/3;
}

input[type="text"]{    
    width: 80%;
    height: 2.3em;
    border-top: 0;
    padding-left: 10px;
    border: 2px solid dimgray;
    border-style: none none solid none;
}

input[type="button"]{    
    width: 92%;
    height: 2.7em;
    border-top: none;
    border: 2px solid dimgray;
    
}

input[type="button"]:hover{   
    border-top: none;
    color: #ffffff;
    background-color: dodgerblue;
    border: 2px solid dimgray;
}

.fas{
    font-size: .6em;
}

input[type="text"]:focus{     
    border-style: none none solid none;  
    /* border: 2px solid dodgerblue; */
    border-bottom-color: dodgerblue;
}

input[type="text"]::placeholder{    
    color: lightgray;    
}
/*--x----- GLOBAL CSS -----x--*/

/*-------- MEDIA QUERY WITH MAXIMUM WIDTH OF 600PX --------*/
@media (max-width: 600px) {
    .container{
      padding: 1em;
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
      grid-gap: .1em;
      margin-top: 0;
      margin-left: 1em;
      margin-right: 1em;      
    }

    .title{
        grid-area: 1/1/2/2;
    }

    .form__input{
        grid-area: 2/1/3/2;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        /* margin-left: 2.9em; */
    }

    .company__name{
        grid-area: 1/1/2/3;
    }

    .website{
        grid-area: 2/1/3/3;
    }

    .address{
        grid-area: 3/1/4/3;
    }

    .city{
        grid-area: 4/1/5/3;
    }

    .state{
        grid-area: 5/1/6/3;
    }

    .postalcode{
        grid-area: 6/1/7/3;
    }

    .country{
        grid-area: 7/1/8/3;
    }

    .fullname{
        grid-area: 8/1/9/3;
    }

    .btn__submit{
        grid-area: 9/1/10/3;
        width: 92%;
    }

  }
/*--x----- MEDIA QUERY WITH MAXIMUM WIDTH OF 600PX -----x--*/
